@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Playfair+Display&family=Roboto:wght@100;400&display=swap');
@import url(./global.css);

.about-us {
    background-image: url('/images/backgroud-steps.jpeg'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover; /* This ensures the image covers the entire header */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; 
    padding: 90px 24px 40px 24px;
}


.header__about-us p {
    display: inline-block;
    font-family: "Roboto" sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    
}

.header__about-us_text {
    color:var(--text-color-dark);
}

.header__symbol {
    font-family: "Roboto" sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    color: var(--symbol-color);
}

.about-us__text_main {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    color: var(--blog-text);
}

.about-us__text p{
    padding: 30px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: var(--blog-text);
    line-height: 32px;
}

.step img {
    width: 100px;
    height:70px;
}

@media (min-width: 768px) {

    .steps {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 90px;
    }

    .start-text {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 80px;
        
    }
}